name: Tests Utils IPA
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docu/*'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docu/*'

jobs:
  test-ipa-nodejs:
    name: IPA sur Node.js
    runs-on: ubuntu-latest
    steps:
      
      - name: Ouvrir la branche
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Installer pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Préparation de Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Installer
        run: pnpm install

      - name: Installer playwright
        run: npx playwright install

      - name: Vérifier les tests
        run: pnpm test:node

      - name: Envoyer couverure à Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  
  test-ipa-navig:
    name: IPA sur le navigateur
    runs-on: ubuntu-latest
    steps:
      
      - name: Ouvrir la branche
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Installer pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Préparation de Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Installer
        run: pnpm install

      - name: Installer playwright
        run: npx playwright install

      - name: Vérifier les tests
        run: pnpm test:navig

      - name: Envoyer couverure à Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  test-ipa-electron-principal:
    name: IPA sur Électron principal
    runs-on: ubuntu-latest
    needs: test-ipa-nodejs
    steps:
      
      - name: Ouvrir la branche
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Installer pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Préparation de Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Installer
        run: pnpm install

      - name: Installer playwright
        run: npx playwright install

      - name: Vérifier les tests
        # De cawa-93/vite-electron-builder
        run: xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- pnpm run test:électron-principal

      - name: Envoyer couverure à Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
